/* SPDX-License-Identifier: LGPL-2.1-or-later */

@font-face {
    font-family: 'Heebo';
    src: url('assets/fonts/heebo-regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Heebo';
    src: url('assets/fonts/heebo-bold.woff');
    font-weight: 600;
}

/* Typography */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

body {
  color: #241f31;
  background-color: #f6f5f4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 10px;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  display: inline-block;
  font-size: 2.37rem;
  font-weight: 600;
  font-style: normal;
  color: #f6f5f4;
  background-color: #241f31;
  margin: 2rem 0 2rem;
  padding: 0 7px 0 7px;
}

h2 {
  font-size: 1.7rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 3rem;
}

a {
  font-weight: 600;
  color: #241f31;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

small {
  color: #777;
}

hr {
  margin: 3rem auto 4rem;
  width: 40%;
  opacity: 40%;
}

/* Layout */
.container {
  width: 80%;
  margin: auto;
  max-width: 720px;
}

/* Singletons */
.page-logo {
  display: inline-block;
  padding: 5rem 0 3rem;
}
.page-logo > img {
  width: 250px;
}

.figure {
    display: block;
    margin: auto;
    padding: 2rem 0 2rem;
    width: 60%;
}

/* Footer */
footer {
  text-align: center;
  padding: 3em 0 2em;
  font-size: 0.9em;
  margin-top: 4rem;
}

/* Make tables vertically aligned to the top */
tbody td {
  vertical-align: top;
}

/* Igorpro Color Scheme */
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #444444;
}
.highlight .cp {
  color: #CC00A3;
}
.highlight .cs {
  color: #CC00A3;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1 {
  color: #8e959d;
}
.highlight .kc {
  color: #C34E00;
}
.highlight .kd {
  color: #0000FF;
}
.highlight .kr {
  color: #007575;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv {
  color: #0000FF;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #009C00;
}
.highlight .sa {
  color: #0000FF;
}
.highlight .nb, .highlight .bp {
  color: #C34E00;
}

.highlight {
  margin: 0;
}

code.highlighter-rouge {
  padding: 2px 6px;
  background-color: rgba(0,0,0, 0.07);
}

.code-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  margin: 2rem calc(100% - 50vw) 2rem calc(100% - 50vw);
  padding: 0;
  border: 1px solid #241f31;
  overflow-x: auto;
}

@media (max-width: 1440px) {
    .code-block {
        margin: 2rem auto 2rem auto;
    }
}

.code-block div.language-tag {
  line-height: 1.1;
  width: auto;
  display: block;
  float: left;
  background: #241f31;
  color: #f6f5f4;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0 0 8px 0;
}

.code-block .code-block-inner {
  display: inline-flex;
  margin: 0;
  line-height: 1.4;
  border-radius: initial;
  padding: 0 0.8rem 0 0.8rem;
  tab-size: 2;
}
